@media(max-width:465px){
    .container{
        zoom: 1.3;
    }
}
@media(min-width:376px) and (max-width:465px){
    .center{
        margin-top: 30px;
        zoom: .9;
    }
    
}
@media (min-width:321px) and (max-width:375px){
    .container{
        zoom: 1;
    }
}
@media(max-width:320px){
    .container{
        zoom: 0;
    }
}